    <div class="article-inner block-container">
        <div class="block">
            <div class="block-inner">
                <form method='POST'
                      action='http://foster8-dev.kmi.open.ac.uk/foster/courses/update/{{percentComplete}}'>
                    <input name='course_id' type='hidden' value='{{courseHash}}'>
                    <button type='submit' class='buttons-action buttons-action-fullwidth buttons-action-enlarge'>
                        CLAIM THIS COURSE ON FOSTER
                    </button>
                </form>
            </div>
        </div>
    </div>
