<div class="foster_completed" role="region" aria-label="{{_globals._extensions._pageLevelProgress.pageLevelProgress}}" {{#if _globals._extensions._pageLevelProgress.pageLevelProgress}}tabindex="0"{{/if}}>
   <a href="{{generatedLink}}" class="foster_completed_btn buttons-action buttons-action-fullwidth buttons-action-enlarge">Complete course</a>
</div>
